/***************
	Mixins
***************/

/** 
	link-decoration 
**/
@mixin link-decoration( $text-decoration : none , $border-bottom: false , $padding-bottom: false ) {
	text-decoration: $text-decoration;
	&:hover {
		text-decoration: $text-decoration;
		@if $border-bottom {
			border-bottom: $border-bottom;
		}
		@if $padding-bottom {
			padding-bottom: $padding-bottom;
		}
	}
}

/***************
	End _mixin.scss
***************/