/***************
	STRUCT
	
	- Base
	
	- Header
	
	- Content

	- Footer

	- Twitter Bootstrap's changes
	
/***************/

/***************
	Base css 
***************/
@import "_base";


/***************
	Header 
***************/


/***************
	Content
***************/
.content {
	padding-top: 60px;
}

.table th {
	cursor: pointer;
}

/***************
	Footer
***************/
.footer {
	@include min-height(20px);
	padding: 20px 0 15px 0;
	border-top: 1px solid #e0e0e0;	
}

	/***************
		Menu Footer
	***************/
	.menu-footer {
		float: right;
		list-style: none;
		@include inline-block-list(20px);
	}

@import "_screen";