{% extends "layout.html" %}

    {% block content %}

        <!-- CONTEUDO -->
        <section class="content">
            <div class="container">
                <div class="row-fluid">

                    <div class="span12">
                        <ul class="breadcrumb">
                            <li><a href="{{ app.request.baseUrl }}/cliente">Clientes</a> <span class="divider">/</span></li>
                            <li class="active">{{ cliente.nome }}</li>
                        </ul>
                    </div>

                </div>

                <div class="row-fluid">

                    <div class="span5 offset3">

                        {% if result == 'success' %}
                            <div class="alert alert-success hide fadeIn">
                                <a class="close" data-dismiss="alert">&times;</a>
                                Atualização realizada com sucesso!
                            </div>
                        {% endif %}

                        {% if result == 'error' %}
                           <div class="alert alert-error hide fadeIn">
                               <a class="close" data-dismiss="alert">&times;</a>
                               Ocorre um erro, tente novamente!
                           </div>
                        {% endif %}

                        <!-- titulo pagina -->

                        <form class="form-horizontal" action="" method="post">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="nome">Nome</label>
                                    <div class="controls">
                                        <input type="text" class="input-xlarge" name="nome" value="{{ cliente.nome }}" required>
                                    </div>
                                </div>

                                <div class="controls">
                                    <button type="submit" class="btn btn-success">Salvar</button>
                                </div>
                            </fieldset>
                        </form>

                    </div>
                </div>


                <hr>


                <!-- Contatos -->

                <div class="row-fluid">

                    <!-- titulo pagina -->
                    <div class="span9">
                        <h4>Contatos</h4>
                    </div>

                    <!-- adicionar -->
                    <div class="span3">
                        <a href="{{ app.request.baseUrl }}/contato-adicionar/{{ cliente.id }}" class="btn btn-primary pull-right"><i class="icon-plus icon-white"></i> Adicionar contato</a>
                    </div>

                </div>

                <div class="row-fluid">

                    <div class="span12">

                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>E-mail</th>
                                    <th>Função</th>
                                    <th>Observação</th>
                                    <th style="width: 46px;">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for contato in contatos %}
                                <tr>
                                    <td>{{ contato.nome }}</td>
                                    <td>{{ contato.email }}</td>
                                    <td>{{ contato.funcao }}</td>
                                    <td data-toggle="tooltip" data-placement="left" title="{{ contato.observacao }}">{{ contato.observacao }}</td>
                                    <td>
                                        <a data-toggle="tooltip" title="Editar" href="{{ app.request.baseUrl }}/contato-editar/{{ contato.id }}"><i class="icon-pencil"></i></a>
                                        <a data-toggle="tooltip" title="Excluir" onClick="return confirm('Confirma Exclusão?')"; href="{{ app.request.baseUrl }}/contato-deletar/{{ contato.id }}"><i class="icon-remove"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </section>

    {% endblock %}