{% extends "layout.html" %}

    {% block content %}

        <!-- CONTEUDO -->
        <section class="content">
            <div class="container">
                <div class="row-fluid">

                    <!-- titulo pagina -->
                    <div class="span12">
                        <h1>{{ projeto.nome }}</h1>
                    </div>

                    {% if result == 'success' %}
                        <div class="row-fluid">
                            <div class="alert alert-success">
                                <a class="close" data-dismiss="alert">&times;</a>
                                Atualização realizada com sucesso!
                            </div>
                        </div>
                    {% endif %}

                    {% if result == 'error' %}
                        <div class="row-fluid">
                           <div class="alert alert-error">
                               <a class="close" data-dismiss="alert">&times;</a>
                               Ocorre um erro, tente novamente!
                           </div>
                        </div>
                    {% endif %}

                    <!-- info do projeto -->
                    <a class="btn btn-primary" data-toggle="modal" href="#dados-projeto">Informações</a>

                    <!-- reabrir/finalizar -->
                    {% if readonly == true %} 
                        <a href="{{ app.request.baseUrl }}/projeto-reabrir/{{ projeto.id }}" onClick="return confirm('Confirma reabrir projeto?')"; class="btn btn-info pull-right"><i class="icon-ok icon-white"></i> Reabrir projeto</a>
                    {% else %}
                        <a href="{{ app.request.baseUrl }}/projeto-finalizar/{{ projeto.id }}" onClick="return confirm('Confirma Finalização?')"; class="btn btn-danger pull-right"><i class="icon-ok icon-white"></i> Finalizar projeto</a>
                    {% endif %}

                </div>

                <!-- MODAL info do projeto -->
                <div class="modal small hide fade" id="dados-projeto" tabindex="-1" role="dialog" aria-labelledby="dados-projeto" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 id="dados-projeto">Informações do projeto</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" action="" method="post">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="nome">Nome *</label>
                                    <div class="controls">
                                        <input type="text" class="input-xlarge" name="nome" value="{{ projeto.nome }}" required {% if readonly == true %} readonly {% endif %} >
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="nome">Descrição</label>
                                    <div class="controls">
                                        <textarea name="descricao" class="input-xlarge" rows="8" {% if readonly == true %} readonly {% endif %}>{{ projeto.descricao }}</textarea>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="nome">Cliente *</label>
                                    <div class="controls">
                                        <select class="input-xlarge" name="id_cliente" data-select="select2" required {% if readonly == true %} readonly {% endif %}>
                                            {% for cliente in clientes %}
                                                <option {% if projeto.cliente == cliente.id %} selected {% endif %} value="{{ cliente.id }}">{{ cliente.nome }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                {% if readonly == false %} 
                                    <div class="controls">
                                        <button type="submit" class="btn btn-success">Salvar</button>
                                    </div>
                                {% endif %}

                            </fieldset>
                        </form>   
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Fechar</button>
                    </div>
                </div><!-- /Modal -->

                <hr>

                <!-- Requisitos em aberto -->

                <div class="row-fluid">

                    <div class="span9">
                        <h4>Requisitos em aberto</h4>
                    </div>

                    <!-- adicionar -->
                    {% if readonly == false %} 
                    <div class="span3">
                        <a href="{{ app.request.baseUrl }}/requisito-adicionar" class="btn btn-primary pull-right"><i class="icon-plus icon-white"></i> Adicionar requisito</a>
                    </div>
                    {% endif %}

                </div>

                <div class="row-fluid">

                    <div class="span12">

                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Data início</th>
                                    <th>Nome</th>
                                    <th>Prioridade</th>
                                    <th>Descrição</th>
                                    <th style="width: 46px;">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for requisito_aberto in requisitos_abertos %}
                                <tr>
                                    <td>{{ requisito_aberto.codigo }}</td>
                                    <td>01/02/2013</td>
                                    <td>Fazer o sistema</td>
                                    <td>Alta</td>
                                    <td data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id eaque veniam ipsam sequi nostrum sapiente voluptatibus quo ducimus ab deserunt fugit maxime aut esse sit eum ipsum vero sunt mollitia">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id eaque veniam ipsam sequi nostrum sapiente voluptatibus quo ducimus ab deserunt fugit maxime aut esse sit eum ipsum vero sunt mollitia?</td>
                                    <td>
                                        <a data-toggle="tooltip" title="Editar" href="{{ app.request.baseUrl }}/requisito-editar/1"><i class="icon-pencil"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>


                <hr>


                <!-- Requisitos finalizados -->

                <div class="row-fluid">

                    <div class="span9">
                        <h4>Requisitos finalizados</h4>
                    </div>

                </div>

                <div class="row-fluid">

                    <div class="span12">

                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Data início</th>
                                    <th>Data conclusão</th>
                                    <th>Nome</th>
                                    <th>Prioridade</th>
                                    <th>Descrição</th>
                                    <th style="width: 46px;">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>REQ 001</td>
                                    <td>01/02/2013</td>
                                    <td>28/02/2013</td>
                                    <td>Fazer o sistema</td>
                                    <td>Alta</td>
                                    <td data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id eaque veniam ipsam sequi nostrum sapiente voluptatibus quo ducimus ab deserunt fugit maxime aut esse sit eum ipsum vero sunt mollitia">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id eaque veniam ipsam sequi nostrum sapiente voluptatibus quo ducimus ab deserunt fugit maxime aut esse sit eum ipsum vero sunt mollitia?</td>
                                    <td>
                                        <a data-toggle="tooltip" title="Editar" href="{{ app.request.baseUrl }}/requisito-editar/1"><i class="icon-pencil"></i></a>
                                        <a data-toggle="tooltip" title="Excluir permanentemente" onClick="return confirm('Confirma Exclusão?')"; href="{{ app.request.baseUrl }}/requisito-deletar/1"><i class="icon-remove"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </section>

    {% endblock %}